/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
  background-image: url("f7.png");
  background-size: 100% 150%;
  background-repeat: no-repeat;
  //background-color: #fee4d1;
  text-align: center;
  //font-family: basiercircle,sans-serif;
  font-family: 'Montserrat', sans-serif;

}
